# Directories
.github/
.npm/
demos/
node_modules/
src/

# Files
.DS_STORE
.eslintcache
npm-debug.log*
*.config.js
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.releaserc
.travis.yml
CHANGELOG.md
CODE_OF_CONDUCT.md
README.md
webpack.config.js
