INPUT:-webkit-autofill,
SELECT:-webkit-autofill,
TEXTAREA:-webkit-autofill {
    animation-name: onautofillstart;
}

INPUT:not(:-webkit-autofill),
SELECT:not(:-webkit-autofill),
TEXTAREA:not(:-webkit-autofill) {
	animation-name: onautofillcancel;
}

@keyframes onautofillstart { from {} }
@keyframes onautofillcancel { from {} }